<!DOCTYPE html>
<html lang="en">

<head>
	<script src="vue.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style1.css">
	<style type="text/css">
        .card {
            background: #efefef;
            border: 1px solid #ddd;
            margin-right: 5px;
            padding: 5px;
            width: 350px;
            float: left;
        }
        h3 {
            min-height: 45px;
        }
        
        </style>
</head>
<body>
    <div id="app">
    <form ref="formBook" @submit.prevent="submitForm($event)"
    action="" method="post" id="myForm">
    <p v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
    <li v-for="error in errors">{{ error }}</li>
    </ul>
    </p>
    <label>Title:</label>
    <input type="text" v-model="title" ref="title"/>
    <label>Description:</label>
     <textarea v-model="description"></textarea>
    <label>Authors:</label>
    <input type="text" v-model="authors">
    <label>Price:</label>
    <input type="number" v-model.number="price">
    <label>Categories:</label>
    <select v-model="categories" multiple>
    <option v-for="option in options" :value="option.value">
    {{ option.text }}
    </option>
    </select>
    <label>Cover:</label>
    <input name="cover" ref="cover" type="file">
    <label></label>
    <input type="submit" value="Submit">
    </form>
    </div>
</body>
</html>